.button1{
    -fx-background-color:#637AB9;
    -fx-text-fill:white;
    -fx-background-radius:20px;
    -fx-width:50px;
}

.fondo{
    -fx-background-radius:40px;
    -fx-background-color:#CBDCEB;
}

.bloques{
    -fx-background-radius:40px;
}